<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SoogAlbalad</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.448006986524-s70j0g5885fhoo7lh3c72o9um3bn5icv</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID to sign in.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to provide location features even in the background.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location to provide better service.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to provide location-based services.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to allow image uploads.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AvenirNextLTPro-Bold.otf</string>
		<string>AvenirNextLTPro-It.otf</string>
		<string>AvenirNextLTPro-Regular.otf</string>
		<string>AvenirNextCyr-Bold.ttf</string>
		<string>AvenirNextCyr-BoldItalic.ttf</string>
		<string>AvenirNextCyr-Demi.ttf</string>
		<string>AvenirNextCyr-DemiItalic.ttf</string>
		<string>AvenirNextCyr-Heavy.ttf</string>
		<string>AvenirNextCyr-HeavyItalic.ttf</string>
		<string>AvenirNextCyr-Italic.ttf</string>
		<string>AvenirNextCyr-Light.ttf</string>
		<string>AvenirNextCyr-LightItalic.ttf</string>
		<string>AvenirNextCyr-Medium.ttf</string>
		<string>AvenirNextCyr-MediumItalic.ttf</string>
		<string>AvenirNextCyr-Regular.ttf</string>
		<string>AvenirNextCyr-Thin.ttf</string>
		<string>AvenirNextCyr-ThinItalic.ttf</string>
		<string>AvenirNextCyr-UltraLight.ttf</string>
		<string>AvenirNextCyr-UltraLightIt.ttf</string>
		<string>PlusJakartaSans-Bold.ttf</string>
		<string>PlusJakartaSans-BoldItalic.ttf</string>
		<string>PlusJakartaSans-ExtraBold.ttf</string>
		<string>PlusJakartaSans-ExtraBoldItalic.ttf</string>
		<string>PlusJakartaSans-ExtraLight.ttf</string>
		<string>PlusJakartaSans-ExtraLightItalic.ttf</string>
		<string>PlusJakartaSans-Italic.ttf</string>
		<string>PlusJakartaSans-Light.ttf</string>
		<string>PlusJakartaSans-LightItalic.ttf</string>
		<string>PlusJakartaSans-Medium.ttf</string>
		<string>PlusJakartaSans-MediumItalic.ttf</string>
		<string>PlusJakartaSans-Regular.ttf</string>
		<string>PlusJakartaSans-SemiBold.ttf</string>
		<string>PlusJakartaSans-SemiBoldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>MerchantCapabilities</key>
	<array>
  		<string>supports3DS</string>
	</array>
	<key>MerchantIdentifier</key>
	<string>merchant.com.app.soogAlbalad</string> 
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
